
.grid__cell{
    background: #747bff;
    color: #c8c8ff;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    &:last-child {
        border-bottom-right-radius: 1rem;
    }
    &:nth-child(4n):nth-last-child(-n+4) {
        border-bottom-right-radius: 1rem;
    }
    &:nth-child(-n+4):last-child {
        border-top-right-radius: 1rem;
    }
}
