.delete-button {
    background-color: coral;
    border-color: transparent;
    &:hover{
        background-color: tomato;
    }
    &:active{
        background-color: indianred;
        border-color: transparent;
    }
}